.profile {
  border-style: solid;
  background-color: #f4f7f8;
  position: relative;
  width: 400px;
  height: auto;
  border: 3px solid #cccccc;
  padding: 20px;
  font-family: Tahoma, sans-serif;
  border-radius: 50px;
  color: grey;
  margin: auto;
}

.li {
  background: #f4f7f8;
  list-style-type: none;
  margin: auto;
  text-align: left;
}
