.App {
  margin: left;
}

.TitleImage {
  text-decoration: none;
  position: absolute;
  width: 400px;
  height: auto;
  left: 0;
  top: 0;
}

.Home {
  color: white;
}

.Mentor {
  position: absolute;
  width: 430px;
  height: 60px;
  left: 70px;
  top: 610px;

  background: #18a2ef;
  box-sizing: border-box;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  /* letter-spacing: -0.045em; */

  color: #fffdfd;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.Mentor:link {
  text-decoration: none;
}

.Forum {
  position: absolute;
  width: 186px;
  height: 44px;
  left: 1090px;
  top: 28px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 76px;
  letter-spacing: -0.045em;

  color: #a3a1a1;
}

.Forum:link {
  text-decoration: none;
}

.Sidebar {
  text-align: right;
  margin: auto;
  padding: 10px;
  list-style-type: none;
}

.Profiles {
  position: absolute;
  width: 177px;
  height: 129px;
  left: 1250px;
  top: 28px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 76px;
  letter-spacing: -0.045em;

  color: darkgrey;
}

.Profiles:link {
  text-decoration: none;
}

* {
  background: white;
  text-align: center;
}

.Support {
  position: absolute;
  width: 450px;
  height: 300px;
  left: 56px;
  top: 400px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.045em;

  color: grey;
}
