#new-profile-form {
  border-radius: 60px 60px 60px 60px;
  box-shadow: 0px 4px 4px;
  color: rgba(0, 0, 0, 0.25);

  max-width: 500px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
}

#Prof {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 76px;
  letter-spacing: -0.045em;
  color: #a3a1a1;
}

#fieldset {
  border: none;
  background: #f4f7f8;
}

.newProfile {
  border: none;
  background: #f4f7f8;
}

#submitButton {
  background-color: #ffa200;
  border-radius: 28px;
  border: 2px solid #d68c0b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #634b1a;
}
#submitButton:hover {
  background-color: #ffa200;
  border-radius: 28px;
  border: 2px solid #d68c0b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #634b1a;
}
#submitButton:active {
  position: relative;
  top: 1px;
}

#firstName {
  width: 300px;
  height: 20px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: white;
  margin: 10px;
}

#lastName {
  width: 300px;
  height: 20px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: white;
  margin: 10px;
}

#experience {
  width: 300px;
  height: 40px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: white;
  color: darkgrey;
  margin: 10px;
}

#emailAddress {
  width: 300px;
  height: 20px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: white;
  margin: 10px;
}

#mentor-or-mentee {
  width: 400px;
  height: 35px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: grey;
  margin: 10px;
}

#aboutMe {
  width: 400px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#checkbox {
  background-color: #f4f7f8;
}
